<div class="content" role="main">

  <div class="card-container">
    <div class="card" >
      <div class="card-title">
        <p>Display Rules</p>
      </div>

      <div class="card">
        <div class="rules">
            <span>Inclusion Rules</span>
            <p>Where would you like to display your campaign?</p>
            <app-rules
              *ngFor="let rule of inclusionRules; let i = index"
              [rulesOptions]="rulesOptions"
              [selectedRule]="rule.id"
              [customOptions]="customOptions"
              (deleteRule)="deleteInclusionRule(i)"
            >
            </app-rules> 
            <button (click)="newInclusionRule()"> + NEW RULE</button>          
        </div>        
    </div>
    <div class="card">
      <div class="rules">
          <span>Exclusion Rules</span>
          <p>Where would you like to NOT display your campaign?</p>
          <app-rules
            *ngFor="let rule of exclusionRules; let i = index"
            [rulesOptions]="rulesOptions"
            [selectedRule]="rule.id"
            [customOptions]="customOptions"
            (deleteRule)="deleteExclusionRule(i)"
          >
          </app-rules> 
          <button (click)="newExclusionRule()"> + NEW RULE</button>          
      </div>        
  </div>    
    </div>
  </div>
</div>